body {


	background-image: url("../images/theatre.jpg");
	margin: auto;
	

}

.jumbotron {
	color: dodgerblue;
	text-align: center;
	background-color: lemonchiffon;
	border: 2px solid gray;
	line-height: 30px;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 40px;
	margin-right: 0;
	width: 80%;

}

#name, #enter {
font-family: 'Russo One', sans-serif;
font-size: 30px;

}

h1 {

	font-family: 'Russo One', sans-serif;
}

p {

	font-family: 'Orbitron', sans-serif;
}